/*Reseteamos el padding y el margen para todos los archivos. */
*{
    margin: 0;
    padding: 0;
}

/*Le aplicamos color al body de todas las paginas.*/
body{
    background-color: map-get($colores , secondaryColor );
}

/*Le aplicamos estilo al titulo principal. Incluye tamaño y tipo de fuente y alineación.*/
h1{
    vertical-align: middle;
    text-align: center;
    font-family: 'Pushster', cursive;
    @include fontProperties(200%, 100);
    padding-bottom: 1%;
}

/*Le aplicamos estilo los anchor.*/
a{
    color: map-get($colores , fontColor );
    text-decoration: none;
}

/*Le damos color y aplicamos estilo de letra a los titulos h2.*/
h2{
    color: map-get($colores , fontColor );
    font-family: 'Pushster', cursive;
    text-align: center;
    @include fontProperties(300%, 100);
    margin-bottom: 3%;
    border: 1px;
    border-style: solid;
    border-color: map-get($colores , borderColor );
}

/*Estilo de los títulos h3.*/
h3{
    color: map-get($colores , fontColor );
    font-family: 'Montserrat', sans-serif;
    @include fontProperties(200%, 100);
    padding-top: 2%;
    padding-left: 2%;
}

/*Estilo de los títulos h4.*/
h4{
    color: map-get($colores , fontColor );
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
    padding-bottom: 2%;
}
  