/*Estilo de la imagen del index.*/
#MariIntro{
    max-width: 100%;
    height: auto;
    margin-left: 2%;
    float: left;
    border-color: $mainColor;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    margin-right: 3%;
    grid-area: fotoIndex;
}

/*Estilo del parrafo de presentación del index.*/
#intro{
    color: $fontColor;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    margin-left: 7%;
    margin-bottom: 5%;
    margin-right: 2%;
    text-indent: 5%;
    grid-area: introIndex;
}

#MariIntro:hover{
    animation: animationFoto 0.5s forwards;
}

@keyframes animationFoto{
    from { transform: scale(1); }
    to { transform: scale(1.05); }
}

@media all and (min-width: 760px){
    #gridContainerIndex{
      display: grid;
      grid-template-areas: 
      "titleIndex titleIndex" 
      "fotoIndex introIndex" ;
    }
}
  
#tituloIndex{
    grid-area: titleIndex;
}
  
@media all and (max-width: 760px){
    #gridContainerIndex{
      display: grid;
      grid-template-areas:
      "titleIndex"
      "fotoIndex"
      "introIndex";
    }
    #flexContainerImageMariIntro{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #MariIntro{
      width: 90%;
      margin-bottom: 3%;
      margin-left: 2%;
    }
}