.galleryContainer{
    margin-right: 20%;
    margin-left: 20%;
}
  
.galleryContainerImageFrame{
    background-color: map-get($colores, mainColor );
    margin-top: 10%;
    margin-bottom: 10%;
    border: map-get($colores, borderColor );
    border-style: solid;
    border-width: 3px;
    margin-left: 1%;
    margin-right: 1%;
}
  
.galleryContainerImageDescription{
    font-family: 'Montserrat', sans-serif;
    color: map-get($colores , fontColor );
    font-weight: 500;
    text-align: center;
    margin-bottom: 2%;
}
  
.galleryContainerImage{
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 2%;
    transition: transform .2s;
}
  
.galleryContainerImage:hover{
    transform: scale(1.1); 
}