$fontColor: whitesmoke;
$borderColor: whitesmoke;
$mainColor: #D067E6;
$secondaryColor: #c2abc7;
$mainGradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(195,28,169,0.8776552857471114) 100%, rgba(0,212,255,1) 100%);